<h1>Listing plots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>About</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plots.each do |plot| %>
  <tr>
    <td><%= plot.name %></td>
    <td><%= plot.city %></td>
    <td><%= plot.state %></td>
    <td><%= plot.zip %></td>
    <td><%= plot.about %></td>
    <td><%= link_to 'Show', [plot.user, plot] %></td>
    <td><%= link_to 'Edit', edit_user_plot_path(plot.user, plot) %></td>
    <td><%= link_to 'Destroy', [plot.user, plot], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plot', new_user_plot_path(params[:user_id]) %>
