<h1>Listing plots</h1>

<table>
  <tr>
    <th>User</th>
    <th>Admin</th>
    <th>Name</th>
    <th>Type</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Visibility</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plots.each do |plot| %>
  <tr>
    <td><%= plot.user_id %></td>
    <td><%= plot.admin_id %></td>
    <td><%= plot.name %></td>
    <td><%= plot.type %></td>
    <td><%= plot.city %></td>
    <td><%= plot.state %></td>
    <td><%= plot.zip %></td>
    <td><%= plot.visibility %></td>
    <td><%= plot.description %></td>
    <td><%= link_to 'Show', plot %></td>
    <td><%= link_to 'Edit', edit_plot_path(plot) %></td>
    <td><%= link_to 'Destroy', plot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plot', new_plot_path %>
