- content_for :content do
  %h2= conversation.subject
  %h5 Message History
  .well
    %ul.unstyled
      = content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt|
        - message = receipt.message
        - sender = message.sender
        =image_tag("#{sender.avatar}", width: "20px", class: "rounded-corners-profile-pic")
        -if message.created_at.today?
          %strong= "Today at " + message.created_at.strftime("%l:%M %p")
        -else
          %strong= "On " + message.created_at.strftime("%-m/%-d/%Y") + " at " + message.created_at.strftime("%l:%M %p")
        %strong= sender == current_user ? "You said..." : sender.first_name + " said..."
        %p.muted= message.body
  = render 'messages/form', conversation: conversation
  = link_to "Back to Inbox", conversations_path