<h1>Listing crops</h1>

<table>
  <tr>
    <th>Plot</th>
    <th>Plant</th>
    <th>Type</th>
    <th>Coverage number</th>
    <th>Coverage unit</th>
    <th>Date planted</th>
    <th>Starting type</th>
    <th>Description</th>
    <th>Yield number</th>
    <th>Yield unit</th>
    <th>Date picked</th>
    <th>Quantity number</th>
    <th>Quantity type</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crops.each do |crop| %>
  <tr>
    <td><%= crop.plot_id %></td>
    <td><%= crop.plant %></td>
    <td><%= crop.type %></td>
    <td><%= crop.coverage_number %></td>
    <td><%= crop.coverage_unit %></td>
    <td><%= crop.date_planted %></td>
    <td><%= crop.starting_type %></td>
    <td><%= crop.description %></td>
    <td><%= crop.yield_number %></td>
    <td><%= crop.yield_unit %></td>
    <td><%= crop.date_picked %></td>
    <td><%= crop.quantity_number %></td>
    <td><%= crop.quantity_type %></td>
    <td><%= crop.price %></td>
    <td><%= link_to 'Show', crop %></td>
    <td><%= link_to 'Edit', edit_crop_path(crop) %></td>
    <td><%= link_to 'Destroy', crop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crop', new_crop_path %>
