<p>
  <b>Name:</b>
  <%= @plot.name %>
</p>

<p>
  <b>City:</b>
  <%= @plot.city %>
</p>

<p>
  <b>State:</b>
  <%= @plot.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @plot.zip %>
</p>

<p>
  <b>About:</b>
  <%= @plot.about %>
</p>

<% if user_signed_in? %> 
  <%= link_to 'Edit', edit_user_plot_path(current_user, @plot) %>
<% end %>

<%= link_to 'Back', user_plots_path(@plot.users.first) %>