.container
  .row
    .span12
      %h1 Crops to purchase
  - @crop_yields.each do |crop_yield|
    .row
      .span12
        %label 
        %h3= crop_yield.crop.crop_name
        %h4 Farm: #{crop_yield.farmers}
        %h5= crop_yield.crop.plot.address
        = pluralize(crop_yield.quantity_for_sale, crop_yield.quantity_unit)
        %br
        picked on #{crop_yield.pick_date.strftime('%D')}
        %br
        = number_to_currency(crop_yield.price)
        each
        %br
        = link_to "Purchase", new_transaction_path(crop_yield: crop_yield.id), class: "btn"
%br
%br
%br