<%= form_for([@user, @plot], html: {class: "form-horizontal new-plot"}) do |f| %>
  <% if @plot.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@plot.errors.count, "error") %> prohibited this plot from being saved:</h5>

      <ul>
      <% @plot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <form class="form-horizontal">
    <fieldset>
        <!-- Address form -->

        <!-- full-name input-->
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <%= f.text_field :name, class: "input-xlarge" %>
                <p class="help-block"></p>
            </div>
        </div>
        <!-- address-line1 input-->
        <div class="control-group">
            <label class="control-label">Address Line 1</label>
            <div class="controls">
                <%= f.text_field :address1, class: "input-xlarge" %>
                <p class="help-block">Street address, P.O. box, company name, c/o</p>
            </div>
        </div>
        <!-- address-line2 input-->
        <div class="control-group">
            <label class="control-label">Address Line 2</label>
            <div class="controls">
                <%= f.text_field :address2, class: "input-xlarge"%>
                <p class="help-block">Apartment, suite , unit, building, floor, etc.</p>
            </div>
        </div>
        <!-- city input-->
        <div class="control-group">
            <label class="control-label">City / Town</label>
            <div class="controls">
                <%= f.text_field :city, class:"input-xlarge"%>
                <p class="help-block"></p>
            </div>
        </div>
        <!-- region input-->
        <div class="control-group">
            <label class="control-label">State / Province / Region</label>
            <div class="controls">
                <%= f.select :state, options_for_select(us_states) %>
                <p class="help-block"></p>
            </div>
        </div>
        <!-- postal-code input-->
        <div class="control-group">
            <label class="control-label">Zip / Postal Code</label>
            <div class="controls">
                 <%= f.text_field :zip, class: "input-xlarge" %>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"> About </label>
            <div class="controls">
              <%= f.text_area :about, rows: "8" %>
              <p class="help-block"></p>          
            </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Submit", :class => 'button btn-orange' %>
        </div>
    </fieldset>

<% end %>
