  <div class="modal hide fade authenticate" id="sign-in">
      <a class="close" data-dismiss="modal">X</a>
      <h3 class="turquiose">Sign In</h3>
      <div class="modal-body">
          <p class="note">It's as easy as watching grass grow!</p>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <ul class="fieldset">
                  <li>
                      <div>
                          <%= f.email_field :email, :placeholder => 'Email' %>
                      </div>
                  </li>
                  <li>
                      <div>
                          <%= f.password_field :password, :placeholder => 'Password' %>
                      </div>
                  </li>
              </ul>

              <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end -%>

              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
              <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
              <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>

              <div class="buttons-set">
                <%= f.submit "Sign in", :class => 'btn btn-orange submit icon secure'  %>
              </div>
          <% end %>
          <script type="text/javascript">
          jQuery("#login-form-validate").validate({
              onkeyup: false,
              rules: {
                  email: {
                      required: true,
                      email: true
                  },
                  password: {required : true}
              },
              messages: {
                  email : "Incorrect email format",
                  password : "Please provide a password"
              },
              submitHandler : function(form) {
                  window.event.preventDefault();
                  Elm.Auth.Login(jQuery(form));
                  return false;
              }
          });
          </script>
      </div>
  </div>

  <div class="modal hide fade authenticate" id="sign-up">
      <a class="close" data-dismiss="modal">X</a>
      <h3 class="turquiose">Sign Up!</h3>
      <div class="modal-body">
          <p class="note">It's as easy as watching grass grow!</p>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <ul class="fieldset">
                  <li><div><%= f.text_field :name, :placeholder => 'Name' %></div></li>
                  <li><div><%= f.email_field :email, :placeholder => 'Email' %></div></li>
                  <li><div><%= f.password_field :password, :placeholder => "Password" %></div></li>
                  <li><div><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></div></li>
            </ul>
            <div class="buttons-set">
              <%= f.submit "Sign up", :class => 'btn btn-orange submit icon secure'  %>
            </div>
          <% end %>

          <script type="text/javascript">
          jQuery("#create-form-validate").validate({
              onkeyup: false,
              rules: {
                  invite_code : {required : true},
                  firstname : {required : true},
                  lastname : {required : true},
                  city : {required : true},
                  state : {required : true},
                  email : {
                      required : true,
                      email : true
                  },
                  password : {
                      required : true
                  },
                  passwordVerify : {
                      required : true,
                      equalTo : '#password'
                  }
              },
              messages: {
                  firstname : "Please enter your first name",
                  lastname : "Please enter your last name",
                  city : "Please the city you live in",
                  state : "Please enter the state of your city",
                  email : "Incorrect email format",
                  password : "Please provide a password",
                  passwordVerify : {
                      required : "Please confirm your password",
                      equalTo : "Please enter the same password as above"
                  }
              },
              submitHandler : function(form) {
                  window.event.preventDefault();
                  Elm.Auth.Create(jQuery(form));
                  return false;
              }
          });
          </script>
      </div>
  </div>