<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Everylastmorsel" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Everylastmorsel" %>">
    <!--
    <script>
      var Elm = {
        domain : '//alpha.everylastmorsel.com/',
        environment : 'development',
        api : 'AIzaSyDchuLLyzMjV7ixYFhOt_KLCBB9H1xl1DI'
      };
      window.Elm = Elm;
    </script>

    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDchuLLyzMjV7ixYFhOt_KLCBB9H1xl1DI&sensor=true"></script>
    <script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script> 
    -->
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'/>    
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= csrf_meta_tags %>    
    <%= yield(:head) %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">

  <div id="fb-root"></div>
  <div class="wrapper">
    <div class="page clearfix">
      <div class="header-container">
        <div class="utility">
          <div class="container">
            <ul class="list-inline t-right">
                <%= render 'layouts/navigation' %>
            </ul>
          </div>
        </div>

        <header id="header" class="container clearfix">
          <%= render 'layouts/messages' %>
          <h1>
              <a href="/" title="Every Last Morsel" class="ext-hide">
                  <img src="/assets/logo.gif" alt="Every Last Morsel" title="Every Last Morsel" />
              </a>
          </h1>
          <nav role="navigation">
              <ul class="list-inline t-right">
                  <li><a href="/map" title="Map">Map</a></li>
                  <li><a href="/marketplace" title="Marketplace">Marketplace</a></li>
                  <li><a href="/about" title="About Us">About Us</a></li>
                  <li><a href="/help" title="Help">Help</a></li>
              </ul>
          </nav>
          <div id="search" class="no-display"></div>
        </header>
      </div>
      <div class="main-container">
        <div id="content" role="contentinfo" class="clearfix">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
      <footer id="footer">
          <div class="container clearfix">
              <div class="column">
                  <h3>Resources</h3>
                  <ul class="list">
                      <li><a href="/about">About Us</a></li>
                      <li><a href="/marketplace">Marketplace</a></li>
                      <li><a href="/help">How it Works</a></li>
                      <li><a href="/help">Help</a></li>
                  </ul>
              </div>
              <div class="column">
                  <h3>Help Us Grow</h3>
                  <ul class="list-block social">
                      <li><a class="icon twitter" href="http://twitter.com/@EveryLastMorsel" target="_blank" rel="twitter" title="Tweet With Us"></a></li>
                      <li><a class="icon facebook" href="https://www.facebook.com/everylastmorsel" target="_blank" rel="facebook" title="Facebook Us"></a></li>
                  </ul>
              </div>
              <div class="column newsletter">
                  <h3>Sign Up For News & Updates</h3>
                  <form action="<?= $this->url('newsletter/signup'); ?>" method="post" class="labelify email-signup">
                      <label for="newsletter-email">Email</label>
                      <div>
                          <input type="email" name="email" id="newsletter-email" />
                      </div>
                      <button type="submit" name="submit" class="btn btn-blue"><span>Submit</span></button>
                  </form>
              </div>
              <div class="copyright f-left">
                  <p>Copyright &copy; Every Last Morsel 2013</p>
                  <ul class="list-inline">
                      <li><a href="terms_of_service">Terms of Service</a><span class="separator">|</span></li>
                      <li><a href="privacy_policy">Privacy Policy</a></li>
                  </ul>
              </div>
              <div class="watermark"></div>
          </div>
      </footer>
  </div>



  <div class="modal hide fade authenticate" id="sign-in">
      <a class="close" data-dismiss="modal">X</a>
      <h3 class="turquiose">Sign In</h3>
      <div class="modal-body">
          <p class="note">It's as easy as watching grass grow!</p>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <ul class="fieldset">
                  <li>
                      <div>
                          <%= f.email_field :email, :placeholder => 'Email' %>
                      </div>
                  </li>
                  <li>
                      <div>
                          <%= f.password_field :password, :placeholder => 'Password' %>
                      </div>
                  </li>
              </ul>

              <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end -%>

              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
              <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
              <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>

              <div class="buttons-set">
                <%= f.submit "Sign in", :class => 'btn btn-orange submit icon secure'  %>
              </div>
          <% end %>
          <script type="text/javascript">
          jQuery("#login-form-validate").validate({
              onkeyup: false,
              rules: {
                  email: {
                      required: true,
                      email: true
                  },
                  password: {required : true}
              },
              messages: {
                  email : "Incorrect email format",
                  password : "Please provide a password"
              },
              submitHandler : function(form) {
                  window.event.preventDefault();
                  Elm.Auth.Login(jQuery(form));
                  return false;
              }
          });
          </script>
      </div>
  </div>

  <div class="modal hide fade authenticate" id="sign-up">
      <a class="close" data-dismiss="modal">X</a>
      <h3 class="turquiose">Sign Up!</h3>
      <div class="modal-body">
          <p class="note">It's as easy as watching grass grow!</p>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <ul class="fieldset">
                  <li><div><%= f.text_field :name, :placeholder => 'Name' %></div></li>
                  <li><div><%= f.email_field :email, :placeholder => 'Email' %></div></li>
                  <li><div><%= f.password_field :password, :placeholder => "Password" %></div></li>
                  <li><div><%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %></div></li>
            </ul>
            <div class="buttons-set">
              <%= f.submit "Sign up", :class => 'btn btn-orange submit icon secure'  %>
            </div>
          <% end %>

          <script type="text/javascript">
          jQuery("#create-form-validate").validate({
              onkeyup: false,
              rules: {
                  invite_code : {required : true},
                  firstname : {required : true},
                  lastname : {required : true},
                  city : {required : true},
                  state : {required : true},
                  email : {
                      required : true,
                      email : true
                  },
                  password : {
                      required : true
                  },
                  passwordVerify : {
                      required : true,
                      equalTo : '#password'
                  }
              },
              messages: {
                  firstname : "Please enter your first name",
                  lastname : "Please enter your last name",
                  city : "Please the city you live in",
                  state : "Please enter the state of your city",
                  email : "Incorrect email format",
                  password : "Please provide a password",
                  passwordVerify : {
                      required : "Please confirm your password",
                      equalTo : "Please enter the same password as above"
                  }
              },
              submitHandler : function(form) {
                  window.event.preventDefault();
                  Elm.Auth.Create(jQuery(form));
                  return false;
              }
          });
          </script>
      </div>
  </div>

  <div id="action-loader" class="loader" style="display: none;"></div>

  <script>
  !function(d, s, id) {
    // FB
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk');
  // g+
  !function(d, s) {
    var po = d.createElement(s);
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = d.getElementsByTagName(s)[0];
    s.parentNode.insertBefore(po, s);
  }(document, 'script');
  // twitter
  !function(d, s, id) {
    var js,fjs = d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, 'script', 'twitter-wjs');
  </script>


  <script id="_webengage_script_tag" type="text/javascript">
  // window.webengageWidgetInit = window.webengageWidgetInit || function(){
  //   webengage.init({
  //     licenseCode:"~47b66612"
  //   }).onReady(function(){
  //     webengage.render();
  //   });
  // };
  // (function(d){
  //   var _we = d.createElement('script');
  //   _we.type = 'text/javascript';
  //   _we.async = true;
  //   _we.src = (d.location.protocol == 'https:' ? "//ssl.widgets.webengage.com" : "//cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-3.0.js";
  //   var _sNode = d.getElementById('_webengage_script_tag');
  //   _sNode.parentNode.insertBefore(_we, _sNode);
  // })(document);
  </script>

  </body>
</html>
