<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Everylastmorsel" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Everylastmorsel" %>">
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= csrf_meta_tags %>    
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <%= render 'layouts/header' %>
  <div class="wrapper">
    <div class="page clearfix">
      <div class="main-container">
          <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/modals' %>
  <div id="action-loader" class="loader" style="display: none;"></div>
  <%= render 'layouts/scripts' %>
  <div id="fb-root"></div>
  </body>
</html>